@tailwind base;
@tailwind components;

/* .nav-item {
  cursor-pointer 
  py-4 px-0 
  hover:border-b-2
  font-medium;
} */

@tailwind utilities;

@font-face {
  font-family: "tittle";
  src: url("/assets/fonts/ananda-neptouch-2.regular.ttf");
}

:root {
  --color-from-logo: rgb(167, 29, 27);
  --color-primary: #582707;
  // --font-main: "Roboto", sans-serif;
  --font-main: "Nunito Sans", sans-serif;
  // --font-main: "Figree", sans-serif;
  // --font-secondary: "Figtree", sans-serif;
  --font-choice: "Belleza";
  --font-tittle: "tittle";
  --color-secondary: #ffb20f;
  --text-main: rgb(44, 44, 44);
  --text-secondary: rgb(92, 92, 92);
  --text-dim: rgb(196, 196, 196);
  --text-dimmer: rgb(221, 221, 221);
  --text-white: white;
}

* {
  font-family: var(--font-main);
  // font-family: "Figtree", sans-serif;
}

body,
html {
  font-family: var(--font-main);
  // font-family: "Figtree", sans-serif;

  font-size: 16px;
  font-weight: 300;
  color: var(--text-main);
  letter-spacing: 0.025rem;
  line-height: 1.4;
  --s: 150px;
  /* control the size*/
  --c1: #ff0000;
  --c2: #fdf0c8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-choice);
}

.secondary_font {
  font-family: var(--font-main);
}

//breakpoint variable
$breakpoing-mobile: 768px;

.bg__class__maroon {
  background: var(--color-from-logo);
  color: var(--text-white) !important;
}

button {
  cursor: pointer;
}



/****************************************
  TYPESCALE FROM https://varnabas.com/
****************************************/
body {
  
  h1 {
    font-size: 2.8rem ;
    font-weight: 600 ;
  }
  
  h2 {
    font-size: 2.4rem ;
    font-weight: 600 ;
  }
  
  h3 {
    font-size: 1.42rem ;
    font-weight: 600 ;
  }
  
  h4 {
    font-size: 1.2rem ;
    font-weight: 500 ;
  }
  
  h5 {
    font-size: 1rem;
    font-weight: 500 ;
  }
  
  h6 {
    font-size: 1rem;
    font-weight: 500 ;
  }
  
  p {
    font-size: 1rem;
  }
  
  b {
    font-weight: 700;
  }
}

.btn_main {
  background: var(--color-from-logo);
  display: inline-block;
  position: relative;
  border-radius: 100px;
  padding: 12px 35px;
  color: var(--text-white);
  font-weight: 700;
  letter-spacing: 0.025rem;

  /* transition: opacity 0.2s ease; */
  opacity: 1;
}

.btn_main:hover {
  opacity: 0.8;
}

.section__padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

.separator {
  width: 100%;
  height: 1px;
  background: var(--text-dimmer);
  margin: 30px 0;
}

/******************************************
  breakpoints sass
******************************************/
$breakpoint-xs: 320px;  // Extra Small Devices (phones)
$breakpoint-sm: 576px;  // Small Devices (landscape phones)
$breakpoint-md: 768px;  // Medium Devices (tablets)
$breakpoint-lg: 992px;  // Large Devices (desktops)
$breakpoint-xl: 1200px; // Extra Large Devices (large desktops)

// _mixins.scss
@mixin respond-to($breakpoint) {
  @if $breakpoint == xs {
    @media (max-width: #{$breakpoint-xs}) { @content; }
  } @else if $breakpoint == sm {
    @media (max-width: #{$breakpoint-sm}) { @content; }
  } @else if $breakpoint == md {
    @media (max-width: #{$breakpoint-md}) { @content; }
  } @else if $breakpoint == lg {
    @media (max-width: #{$breakpoint-lg}) { @content; }
  } @else if $breakpoint == xl {
    @media (max-width: #{$breakpoint-xl}) { @content; }
  }
}


/****************************************** 
    NAVIBATION BAR
*******************************************/
.main__navigation__bar {
  .nav__logo {
    width: 100%;
  }

  .hamburger {
    ion-icon {
      color: var(--text-white);
    }
  }
}

.border_for_logo {
  width: calc(100% + 4px);
  height: 68px;
  top: 0;
  left: -2px;
  background-color: transparent;
  border: 2px solid var(--color-secondary);
  transform: translateY(calc(50%));
}

.main_navigation_logo {
  // position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  // transform: translateY(-20%);
  // background: white;

  // border: 2px solid var(--color-secondary);

  g#XMLID_29_,
  g#XMLID_23_ {
    display: none;
  }
}

.search__top__ {
  position: relative;
  transition: 0.6s all;

  input {
    position: absolute;
    bottom: 10px;
    right: 40px;
    width: 300px;
    // background: var(--color-secondary);
    border-bottom: 1px solid (var(--text-white));
    outline: none;
    color: var(--text-white);
    font-size: 1.5rem;

    &.show {
      display: block;
    }

    &.hide {
      display: none;
    }
  }
}

.search__top__.open {
  --width: calc(100vw / 2);
  min-width: var(--width);
  max-width: var(--width);
  background: #eaebee;
  border-radius: 120px;
  display: flex;
  align-items: center;
  padding: 0 5px;
}

@media (min-width:768px) {
  .search__top__.open {
      --width: 180px;
  }
}



.search__top__.open input {
  background: transparent;
  color: #000;
  outline: none;
  border: none;
  box-shadow: none;
  padding: 10px 0;
}

.search__top__ ion-icon {
  color: #fff;
}


.search__top__:not(.open) input {
  display: none;
}
.search__top__.open ion-icon {
  color: #000;
}

header.scrolled .hamburger ion-icon {
  color: var(--font-main)
}

header.scrolled .search__top__ input,
header.scrolled .hamburger ion-icon {
  background: var(--text-white);
}

/*************************************
    HERO SECTION HOMEPAGE
*************************************/
.hero__section {
  background-image: url("./assets/img/5.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.icons__grp__welcome ul li {
  width: 20%;
}

header {
  transition: background-color 0.3s ease, padding 0.3s ease;
}

header.scrolled {
  background: var(--text-white);
  padding: 0.5rem 0;
  border-bottom: 2px solid var(--color-secondary);

  .nav_links ul li a {
    color: var(--text-main);

    &:hover {
      color: var(--color-secondary);
    }
  }

  .Btn__search__top {
    ion-icon {
      color: var(--text-main);
    }
  }
}

.nav_links ul li a {
  font-size: 1.05rem;
  padding: 20px 0;
  color: var(--text-white);
}

header.scroled ul li a:hover,
.nav_links ul li a:hover {
  // border-bottom: 3px solid var(--text-main);
  color: var(--color-secondary);
}

section>p {
  font-weight: 400;
}

/* header.scrolled */

/*****************************************
  BOOKING / RESERVATION SECTION
*****************************************/
.booking__form label ion-icon {
  color: var(--color-secondary);
  font-size: 1.25rem;
}

/*****************************************
  FACILITIES GRID SECTION
*****************************************/
.section__hotel__features {
  .feature__single__layout {
    display: flex;
    flex-direction: row;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      &:not(first-child) {
        margin-top: 3rem;
      }
    }

    &:nth-child(even) {
      flex-direction: row-reverse;

      @media only screen and (max-width: 768px) {
        flex-direction: column;

      }

    }

    //  color: #bed5fb;
  }

  .featured__image {
    img {
      width: 100%;
      aspect-ratio: 1 / 0.6;
      object-fit: cover;
      height: 100%;
    }
  }

  .feautures__details {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffe4c1;
    // opacity: 0.6;
    background-size: 14px 14px;
    background-image: 
    repeating-linear-gradient(45deg, #f8dfa1 0, #f8dfa1 1.4px, #fff6e8 0, #fff6e8 50%);

    @media only screen and (max-width: 768px) {
      padding: 30px 0 60px 0;


    }

    .feature__details__wrapper {
      max-width: 80%;
      opacity: 1;
      ;


      p {
        margin-top: 2rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3;
      }

      button {
        margin-top: 2rem;

        @media screen and (max-width: 768px) {
          margin-top: 2rem;
        }
      }
    }
  }
}

/*************************************
  SWIPER JS FOR HOMEPAGE ROOMS SECTION
**************************************/
.swiper {
  width: 100%;
  // height: 300px;
}

.swiper-container {
  width: 100%;
  height: 450px;
}



.section__rooms__home .swiper-button-prev,
.section__rooms__home .swiper-button-next {
  top: 60%;
  font-size: 1.25rem;
}

/* Position the buttons */
.custom_buttons_prev,
.custom_button_next {
  position: absolute;
  top: 40%;
  width: 50px;
  height: 50px;
  margin-top: -20px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgb(230, 230, 230);
  transition: all 0.3s ease;
  /* Semi-transparent background */
}

.custom_buttons_prev:hover,
.custom_button_next:hover {
  border: 1px solid rgb(202, 202, 202);
  transition: all 0.3s ease;
}

.section__rooms__home .swiper-button-prev::after,
.section__rooms__home .swiper-button-next::after {
  font-size: 1.25rem;
  content: "";
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: " ";
}

.section__rooms__home .swiper-button-prev {
  left: -14px;

  @media only screen and (max-width: 768px) {
    left: 15px;
  }
}

.section__rooms__home .swiper-button-prev ion-icon {
  transform: rotate(180deg);
}

.section__rooms__home .swiper-button-prev ion-icon,
.section__rooms__home .swiper-button-next ion-icon {
  color: var(--color-secondary);
  font-size: 1.25rem;
  /* background: rgb(245, 85, 85); */
  border-radius: 1px solid black;
  border-radius: 50%;

  /* padding: 10px; */
}

.section__rooms__home .swiper-button-next {
  right: -14px;

  @media only screen and (max-width: 768px) {
    right: 15px;
  }
}

.rooms__slider {
  .room__single {
    p {
      font-weight: 400;
    }

    
  }
}

/****************************************************
  FOOTER COMMON STYLES
****************************************************/
footer {
  background-color: #ffb30f15;
  padding-top: 60px;
}

.footer__links__block li a:hover {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

footer {
  background-image: url("/assets/img/bud_pattern.svg");
  background-repeat: repeat-x;
  background-size: auto 70px;
  // background-position: 2px 0;
}

.footer__brand__information {
  div p {
    margin-left: 1rem;
  }

  >div {
    @media only screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;

      p {
        margin-left: 0;
      }
    }
  }
}

/****************************************************
  INQUIRY SECTION CONTENT
****************************************************/
.inquiry__section {
  min-height: 40vh;
  background-image: url("/assets/img/panoramic.jpg");
  background-position: center center;
}

.inquiry__section {
  padding-top: 150px;
  padding-bottom: 150px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url("/assets/img/boudha.jpg");
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

/************************************************
  FORM SECTION HOMEPAGE
************************************************/
.form__group__wrapper {
  display: flex;
  flex-direction: row;
  font-weight: 400;

  @media screen and (max-width: $breakpoing-mobile) {
    flex-direction: column;
  }
}

.booking__form {
  border-bottom: 1px solid var(--text-dimmer);
}

.booking__form form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: $breakpoing-mobile) {
    flex-direction: column;
  }
}

form.homepage__booking {
  width: 100%;
}

form.homepage__booking .form__group__wrapper {
  width: 85%;

  @media screen and (max-width: $breakpoing-mobile) {
    width: 100%;
  }
}

form.homepage__booking .form__group__wrapper button {
  width: 25%;

  @media screen and (max-width: $breakpoing-mobile) {
    width: 100%;
  }
}

.input-group.caln {
  position: relative;
}

.input-group.caln::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  right: -10%;
  height: 100%;
  width: 1px;
  background: var(--text-dimmer);

  @media screen and (max-width: $breakpoing-mobile) {
    display: none;
  }
}

.booking__form .input-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  padding: 5px;
  /* width: calc(15% - 15px); */
}

.booking__form .input-group.grp__2 {
  // width: 30%;

  @media screen and (max-width: $breakpoing-mobile) {
    width: calc(80% / 3);
  }
}

.booking__form .input-group.grp__2 label {
  max-width: 80%;
}

.booking__form .input-group.grp__2 .booking__form .input-group p {
  color: var(--text-secondary);
}

.booking__form .input-group.caln {
  width: 38%;

  @media screen and (max-width: $breakpoing-mobile) {
    width: 50%;
  }
}

.booking__form .input-group ion-icon {
  min-width: 20px;
  font-size: 1.6rem;
}

.booking__form .input-group ion-icon {
  display: inline-block;
}

.booking__form .input-group ion-icon {
  color: var(--color-secondary);
}

.booking__form .input-group label {
  display: flex;
  flex-direction: column;
}

.booking__form .check-in-out,
.booking__form .other {
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking__form input {
  border: none;
  padding: 20px;
  outline: none;
  font-size: 1rem;
  padding: 0;
  color: var(--text-main);
}

.booking__form label {
  /* align-items: center; */
  /* padding: 5px 0; */
  color: var(--text-secondary);
}

.input-group label input {
  display: inline-block;
  position: relative;
}

//custome input buttons
.homepage__booking .input-group {

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .value-control {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    margin: 0 5px;
    background: transparent;
    // border: var(--border);
    // border-radius: 50%;
    // border: 1px solid var(--text-main);
    border: 1px solid #ccc;
    color: #3b3b3b;
    cursor: pointer;
    font-size: var(--font-size);
    background: var(--text-white);
    border-radius: 3px;
    margin-top: 5px;

    @media only screen and (max-width: 768px) {
      width: 25px;
      height: 25px;
      margin: 0 4px;
    }
  }

  .value-control:hover {
    background: #eee;
  }

  .value-control:active {
    background: #ddd;
  }

  .value-control:focus,
  .value-input:focus {
    outline: 2px solid #3e67fd;
    outline-offset: 1px;
  }

  .value-input {
    margin: 0;
    width: 30px;
    border: var(--text-main);
    padding: 2px 8px;
    text-align: center;

    &::placeholder {
      color: var(--text-dim);
    }
  }

  input::placeholder {
    color: var(--text-dim);
  }

  .value-input:hover {
    border-color: #777;
  }
}

.homepage__booking .form__group__wrapper {
  .input-group.caln {
    input {
      width: 100%;
      margin-top: 5px;
      padding: 10px;
      border-radius: 5px;
      font-size: 1rem;
    }
  }
}

/*************************************************
**************************************************
  ROOMS ANS SUITES CSS
**************************************************
*************************************************/

.room_suits_showcase {

  font-size: 1.2rem;
  font-weight: 400;

  .rooms_suites_wrapper {}

  .rooms_suites_single {

    @include respond-to(md) {
      margin-top: 5rem;
    }

    &:not(first-child) {
      margin-top: 5rem;
      
    }

    &:nth-child(even) {
      flex-direction: row-reverse;

      .suite_single_content {
        &::before {
          left: 60%;
        }
      }

    }


    .suite_single_content {
      background-color: #ffe4c1;
      background-size: 14px 14px;
      background-image: repeating-linear-gradient(45deg, #f8dfa1 0, #f8dfa1 1.4px, #fff6e8 0, #fff6e8 50%);
      // border-top-right-radius: 7px;;
      // border-bottom-right-radius: 7px;;
      border-radius: 7px;;

      &::before {
        content: " ";
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        background-color: #ffe4c1ba;
        background-size: 14px 14px;
        background-image: repeating-linear-gradient(45deg, #f8dfa1 0, #f8dfa1 1.4px, #fff6e8 0, #fff6e8 50%);
        top: 0%;
        left: -60%;
        border-radius: 7px;;
      }

      .suite_description {
        margin-top: 1.5rem;
        font-size: 1.2rem;
        font-weight: 400;
      }

      .suite_features {
        display: flex;
        gap: 10px;
        justify-content: space-between;

        li {
          flex: 0 1 calc(30% - 10px);
          box-sizing: border-box;
          ;
          display: flex;
          flex-direction: column;
          // align-items: center;
          // padding: 5px;
          // border: 1px solid var(--text-dim);

          span {
            font-size: 2.5rem;
            font-weight: 100;
            ;
            color: var(--color-from-logo);
          }

          p {
            font-size: 0.8rem;
            color: var(--font-main);
          }
        }
      }
    }
  }
}

.suite_single_photo {
  img {
    border-radius: 7px;

    @include respond-to(md) {
      border-top-right-radius: 7px;
      border-top-left-radius: 7px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

@include respond-to(md) {
    .room_suits_showcase .rooms_suites_single .suite_single_content::before {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
  }
}


@media (max-width: 768px) {
  .room_suits_showcase .rooms_suites_single .suite_single_content::before{
      left:0;
  }
}

.swiper.room_types {
  img {
    cursor: pointer;
  }
}



/***********************************
  HEADER SECTION
************************************/
// .hero__section__suites

.rooms__suites__single {
  // transform: translateY(-14rem);
  margin-top: -11rem;
}

.rooms__suites__single {

  .swiper-button-prev,
  .swiper-button-next {
    top: 50%;
  }
}

// section title number left
.section__title_number {
  ul {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border: 1px solid var(--color-secondary);
      min-width: 90px;
      border-radius: 10px;

      .count {
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 1.2;
        color: var(--text-main);
      }

      .title__ {
        font-size: 0.8rem;
        color: var(--text-secondary);
      }
    }
  }
}

.alt__section__count {
  .wrapper {
    background-color: var(--color-from-logo);
  }

  ul.title_number_list {
    gap: 0;

    li.title_number_single {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      ;
      padding: 45px;
      ;
      border: 1px solid var(--text-white);
      margin-right: -40px;

      p.count {
        color: white;
        font-size: 4rem;
      }

      p.title__ {
        color: white;
      }
    }
  }

}

.alt__section__count__2 {
  .section__title_number {
    .title_number_list {
      .title_number_single {
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .count {
          background: var(--text-dimmer);
          padding: 20px 20px;
          border-radius: 20px;
          ;
          min-width: 90px;
          text-align: center;
          // margin-top: -10px;
        }

        .title__ {
          background: var(--color-secondary);
          color: var(--font-main);
          font-size: 1rem;
          padding: 30px 20px;
          border-radius: 30px;
          font-weight: 600;
          min-width: 160px;
          ;
          text-align: center;
          text-transform: uppercase;
          margin-top: -30px;
          position: relative;
          z-index: -1;
        }
      }
    }
  }
}


.about__page {
  .title_number_list  {
    padding: 70px 0;
  }

  .title_number_single {
    @include respond-to(lg) {
      width: calc(30% - 60px);
    }
  }
}

/***************************************
  rooms__suites__amenities
***************************************/
.amenities__title {
  h2 {
    line-height: 1.2;
  }

  p {
    color: var(--text-secondary);
  }
}

.amenities__list {
  ul.amenities__ul__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    li {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px;
      border: 1px solid var(--text-dimmer);
      width: 150px;
      height: 150px;
      border-radius: 7px;
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
      transform: translateZ(0);

      ion-icon {
        color: var(--text-dim);
        font-size: 2rem;
        transition: all 0.3s ease-in-out;
      }

      p {
        color: var(--text-secondary);
        font-size: 0.8rem;
        margin-top: 1.5rem;
      }

      &:hover {
        transform: translateY(-5px);
        box-shadow: rgba(255, 238, 151, 0.2) 0px 8px 24px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        border: 1px solid var(--color-secondary);

        ion-icon {
          color: var(--color-secondary);
        }
      }
    }
  }
}

.amenities__list ul.amenities__ul__list li ion-icon,
.amenities__list ul.amenities__ul__list li span {
    color: var(--text-dim);
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
}

.amenities__list.amenities__list_about ul.amenities__ul__list li{
  margin: 0;
  width: 115px;
  height: 115px;
}

.amenities__list.amenities__list_about ul.amenities__ul__list li p{
  text-align: center;
}

.amenities__list.amenities__list_about ul.amenities__ul__list{
  gap:20px;
}


.amenities__list ul.amenities__ul__list li:hover ion-icon,
.amenities__list ul.amenities__ul__list li:hover span {
    color: var(--color-secondary);
}


.suites__detail__single {
  width: calc(50% - 150px);

  h2 {
    margin-bottom: 1.5rem;
    line-height: 1.1;
  }

  ul.details__list {
    list-style: disc;
    margin-left: 0.8rem;
    margin-top: 1rem;

    .detail__single {
      padding-top: 0.5rem;
    }
  }
}

.photo_feature_slider {
  .slider {
    height: 250px;
  }

  .swiper-slide {
    width: calc(100%);
    // height: 250px;;

    img {
      width: 100%;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  //change slider contro buttons
  .swiper-button-prev,
  .swiper-button-next {
    &::after {
      content: "";
    }

    ion-icon {
      font-size: 2.5rem;
      color: var(--text-white);
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }
  }
}

/************************************************
  ABOUT PAGE
************************************************/
.image__section__top {
  background-image: url("/assets/img/5.jpg");
  background-repeat: none;
  background-position: center center;
  background-size: cover;
}

.about__content {
  .wrapper {
    gap: 60px;

    img {
      border-radius: 7px;
    }
  }

  ul {
    li {
      margin-bottom: 1.5rem;
    }
  }
}

.about__content h2 {
  line-height: 1.1;
  margin-bottom: 2rem;
}

.grp_div {
  .video_container {
    video {
      border-radius: 15px;
    }
  }
}

.brochure__download {
  background-image: url("/assets/img/stupa_bro.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  a {
    background: #ffb30f80;
    transition: all 0.2s ease-in-out;

    &:hover {
      // border: 5px solid #A7242860;
      transition: all 0.2s ease-in-out;
      background: #ffb30f;
    }
  }
}

.text__content {
  u {
    font-weight: 500;
  }
}

.about__2 {

  h2,
  h3,
  h4,
  h5 {
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  p,
  li {
    font-family: var(--font-main);
    font-size: 1.25rem;
    font-weight: 400;
  }

  .text_content_v2 {

    h2,
    h3,
    h4,
    h5 {
      font-family: var(--font-tittle);
    }
  }
}

// about testimonials
.testimonials {
  .testimonial__cards__wrapper {

    @include respond-to(md) {
      width: 100%;
    }
    @include respond-to(sm) {
      width: 80%;
    }
    padding-bottom: 30px;
    .swiper-pagination-bullet-active {
      background: var(--color-from-logo);
    }

    .swiper-pagination {
      bottom: -15px;
    }

    .tesimonial__card__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 20px;
      // background: var(--c2);
      min-height: 465px;
      border-radius: 7px;
     
      figure {
        width: 180px;
        height: 180px;;
        border-radius: 50%;
        overflow: hidden;
        margin-top: 20px;

        img {
          max-width: 100%;
          width: 100%;
          height: 100%;
          object-fit: cover;
          
        }
      }
      .testimonial__content {
        margin-top: 20px;
        text-align: center;
      }
    }
  }
}

.brochure__download__link {
  display: flex;
  ion-icon {
    font-size: 1.3rem;
  }

  p {
    font-size: 1.1rem;
  }

  &:hover {
    ion-icon, p {
      color: var(--color-from-logo);
    }
  }
}

//capacity showcase about page
.about__show__capacity {
  .title_number_list {
    li  {
      // background: rgb(246, 246, 246);
      padding: 15px;
      border-radius: 5px;
      .count {
        font-size: 5rem;
        font-weight: 900;
        color: var(--text-white);
        font-family: var(--font-choice);
      }
      
      .title__ {
        color: var(--text-white);

      }
    }
  }
}


.about__show__capacity.pt__2 {
 
}

/*------------------------------------------
  NEWS SECTION HOME
------------------------------------------*/

.news__section {
  .news__single {
    transition: all 0.2s ease-in-out;

    &:hover {
      // box-shadow: 0 6px 20px  rgba(0, 0, 0, 0.2);
      transition: all 0.2s ease-in-out;
      
      img {
        // transition: all 0.2s ease-in-out;
        // transform: scale(1.04);
        transform-origin: center;
      }

      .news__link {
        color: var(--color-from-logo);

        ion-icon {
          margin-left: 20px;
          transition: all 0.4s ease-in-out;
          // color: inherit;
        }
      }
    }
    figure {
      height: 150px;;
      overflow: hidden;
      width: 30%;

      img {
        width: 100%;
        height: 100%;
        border-radius: 7px;
        // transition: all 0.2s ease-in-out;

      }
    }

    .publish__info {
      span {
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.2rem;
        vertical-align: top;
        display: inline-flex;

        ion-icon {
          font-size: 1rem;
          margin-right: 3px;
          // color: var(--color-secondary);
          color: var(--text-secondary);
          
        }
      }
    }
  }

  .news__content {
    min-height: auto;
    width: 70%;

    @include respond-to(lg){
      min-height: 155px;;
    }
    .news__link {
      margin-top:  auto;
      font-size: 0.9rem;
      color: var(--text-secondary);
      ion-icon {
        transition: all 0.4s ease-in-out;
      }
      
    }
  }
}

.about__page .about__show__capacity {
  background: url('/assets/img/10.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  

  .title_number_single {
    display: flex;
    align-items: flex-end;
    width: calc(25% - 60px);

    
    @include respond-to(lg) {
      width: calc(33% - 20px);
      .count {
        font-size: 4rem;
      }
    }
    @include respond-to(md) {
      width: calc(50% - 20px);
      .count {
        font-size: 3rem;
      }
    }
    
    @include respond-to(sm) {
      width: calc(50% - 20px);
      .count {
        font-size: 3rem;
      }
    }


    .count {
      line-height: 0.8;
      font-size: 7rem;;
    }
    .title__ {
      max-width: 100px;
      font-size: 1.1rem;
      font-weight: 400;
      margin-left: 0.2rem;

      @include respond-to(md) {
        max-width: 120px;
      }
    }
  }
}


.pt__2 {
  background-color: #ffe4c1;
  background-size: 14px 14px;
  background-image: repeating-linear-gradient(45deg, #efc73f 0, #efc73f 1.4px, #ffe4c1 0, #ffe4c1 50%);
  min-height: 300px;;
}


.space__allot {
  width: 100%;
  height: 200px;
}


.about__show__capacity .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  // background: #000000c4;
  background:rgba(79, 16, 16, 0.65);
  top:0;
  left:0;
  right:0;
  z-index: 0;;
}

.news__welcome__message {
  .welcome__message__news {
    background-color: #ffe4c1;
    background-size: 14px 14px;
    background-image: repeating-linear-gradient(45deg, #f8dfa1 0, #f8dfa1 1.4px, #fff6e8 0, #fff6e8 50%);

    p {
      margin-top: 2rem;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.3;
    }

    .facility__list {
      display: flex;
      flex-wrap: wrap;
      margin-top: 0.5rem;
      list-style-type: circle;
      margin-left: 0.8rem;
      width: 100%;
      li {
        font-size: 0.8rem;
        text-transform: uppercase;
        font-style: italic;
        margin-right: 2rem;
        font-weight: 400;;
        // width: calc(50% - 30px);
      }

    }

    h4 {
      font-family: var(--font-main);
      text-transform: uppercase;
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
      margin-left: 0.7rem;
      font-weight: 700;
    }
  }
}

/************************************
  CONTACT PAGE
************************************/
.form__section__left {
  padding: 45px;
  // border: 1px solid var(--text-dimmer);
  background: #ffb30f20;
  border: 1px solid #ffb20f54;
  border-radius: 7px;
}

.contact__page__form {

  input,
  textarea {
    border: 1px solid var(--text-dim);
    min-height: 30px;
    padding: 10px;
    margin-bottom: 30px;

    // max-width: 80%;
    &:active,
    &:focus,
    &:focus-visible {
      border: 1px transparent rgba(0, 0, 0, 0);
      // border: 1px solid var(--color-secondary);
      outline: 1px solid var(--color-secondary);
    }
  }

  label {
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
  }

  input {}

  textarea {
    min-height: 100px;
  }
}

/***************************************
  ROOM SINGLE
***************************************/
.page__room__single {
  .image__section__top {
    background-image: url("/assets/img/room3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.content__room__booking__form {
  .room_single_booking {
    .form__group__wrapper {
      width: 100%;
    }

    .input-group {
      &.grp__2 {
        width: 100%;
      }

      ion-icon {
        font-size: 1.6rem;
      }

      p {
        font-size: 1rem;
        line-height: 1.8;
        color: var(--font-main);
      }

      &.grp__2 {
        align-items: center;

        label {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          p {
            min-width: 90px;
          }

          div {
            background: white;
            border-radius: 25px;
            padding: 3px;
          }
        }
      }

      input {
        margin-top: 0.2rem;
        width: 100%;
        font-size: 1.4rem;
        background: rgb(255, 255, 255);
        border: 1px solid var(--text-dimmer);
        text-align: center;
        padding: 0.2rem;
      }
    }

    .btn_main {
      margin-top: 2.5rem;
      width: 100%;
    }
  }
}


.content__room__booking__form .room_single_booking .input-group label {
  min-width: 85%;
}

.copy_form {
  .form_header {
    // background: var(--color-from-logo );
    color: var(--font-main);
  }
}

.form_header {
  // position: 
}

.content__room {
  ul {
    list-style: disc;
    margin-left: 0.9rem;
  }
}

// .room__description {
//   .content__room {

//   }
// }

footer {
  // background-image: url('/assets/img/pattern__.png');
  font-weight: 400;
}

/**********************************************
  RESPONSIVE 
**********************************************/
.nav_links.mobile__nav__links {
  position: relative;
}

@media screen and (max-width: 992px) {
  .nav_links.mobile__nav__links {
    position: absolute;
  }
}

header.scrolled {
  nav {
    .nav_links.mobile__nav__links {
      background-color: var(--text-white);
    }
  }
}

header.scrolled .nav_links.mobile__nav__links {
  top: 75px;
}

.nav_links.mobile__nav__links {
  @media screen and (max-width: 992px) {
    position: absolute;
    z-index: 0;
    top: 74px;
    left: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;
  }

  &.active {
    left: 0;
    opacity: 1;
    transition: all 0.3s ease;
  }

  background-color: #00000027;
  height: 100vh;
  width: 60%;
  max-width: 100%;

  ul {
    flex-direction: column;
    margin-top: 3rem;

    li {
      margin-left: 2rem !important;
      margin-bottom: 1.5rem;

      a:hover {
        border: none;
      }
    }
  }
}

/****************************************
    ROOMS SINGLE
****************************************/
.room__description {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400 !important;
  }

  font-weight: 400;

  p,
  li,
  small {
    color: var(--text-secondary);
  }

  .grp__2 {
    width: 100%;
    margin-top: 30px;

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }

    input {
      font-size: 1.4rem;
    }
  }
}

.photo_feature_slider__single__room {
  .room_single_slider {
    img {
      width: 100%;
      aspect-ratio: 16 / 9;
      object-fit: cover;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    ion-icon {
      color: var(--text-white);
      font-size: 2rem;
    }
  }
}

.facilities__icons__grp {
  ul {
    list-style: none;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
      width: 33%;

      span.material-symbols-outlined {
        color: var(--color-from-logo);
        font-size: 30px;
        font-weight: 200;
      }

      p {
        margin-left: 0.5rem;
      }
    }
  }
}

.content__room__booking__form {
  .input-group.caln::after {
    display: none;
  }

  .input-group.caln {
    display: flex;
    align-items: flex-start;
    gap: 5px;
  }content__room__booking__form

  ion-icon {
    color: var(--color-secondary);
    // margin-top: 3px;
    margin-right: 5px;
    font-size: 1.2rem;
  }

  .form__group__wrapper {
    display: flex;
    flex-direction: column;
  }

  .input-group.grp__2 {
    display: flex;
    align-items: flex-start;
    margin-top: 2rem;
    width: 45%;

    input {
      max-width: 150px;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    .value-control {
      width: 30px;
      height: 30px;
      margin: 0 5px;
      background: transparent;
      // border: var(--border);
      border-radius: 50%;
      color: #3b3b3b;
      cursor: pointer;
      font-size: var(--font-size);
      background: #3b3b3b10;

      @media only screen and (max-width: 768px) {
        width: 25px;
        height: 25px;
        ;
      }
    }

    .value-control:hover {
      background: #eee;
    }

    .value-control:active {
      background: #ddd;
    }

    .value-control:focus,
    .value-input:focus {
      outline: 2px solid #3e67fd;
      outline-offset: 1px;
    }

    .value-input {
      margin: 0;
      width: 40px;
      border: var(--border);
      padding: 2px 8px;
      text-align: center;
    }

    .value-input:hover {
      border-color: #777;
    }
  }
}


/*-----------------------------------------------
    code added by suresh
-----------------------------------------------*/

.rooms_suites_single h2 {
  line-height: 1.1;
}

.top__content h2 {
  line-height: 1.1;
  margin-bottom: 1rem;
}

.social_icons {
  display: flex;
  align-items: center;
  gap: 25px;
  color: #fff;
  font-size: 20px;
}

@media (max-width:500px) {
  .section__title_number ul li {
      min-width: 90px;
  }

  .section__title_number ul li .count {
      font-size: 1.5rem;
  }

  .amenities__list ul.amenities__ul__list {
      gap: 15px;
  }

  .amenities__list ul.amenities__ul__list li {
      --width: calc((100vw - 70px) / 3);
      width: var(--width);
      height: var(--width);
  }

  .facilities__icons__grp ul li {
      width: 49%;
  }
}

@media (max-width:768px) {
  .suites__detail__single {
      width: 100%;
      margin-bottom: 2rem;
  }

  .suites__detail__single ul.details__list {
      padding-left: 10px;
  }

  .room_suits_showcase .rooms_suites_single:nth-child(even) .suite_single_content::before {
      left: 0;
  }

  .section__hotel__features .feautures__details .feature__details__wrapper {
      max-width: 100%;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
  }

  .section__hotel__features .feautures__details .feature__details__wrapper p {
      line-height: 1.3;
  }

  .inquiry__section {
      padding: 100px 0;
  }

  .social_icons {
      display: block;
      display: flex;
  }
}

.hero__section__suites h1 {
  line-height: 1.1;
}

.nav_links ul li a.book_now_btn {
  border: 1px solid var(--c1);
  padding: 7px 10px;
  border-radius: 5px;
  color: var(--c1);
  transition: 0.3s all;
}

.nav_links ul li a.book_now_btn:hover {
  background-color: var(--c1);
  color: #fff;
}

header.scrolled .nav_links ul li a.book_now_btn {
  color: var(--c1);
}

header.scrolled .nav_links ul li a.book_now_btn:hover {
  color: #fff;
}

header.scrolled .social_icons {
  color: #000;
}

.features__title {
  line-height: 1.2;
}

body .container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  body .container {
      max-width: 540px;
  }
}

@media (min-width: 768px) {
  body .container {
      max-width: 720px;
  }
}

@media (min-width: 992px) {
  body .container {
      max-width: 960px;
  }
}

@media (min-width: 1200px) {
  body .container {
      max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  body .container {
      max-width: 1320px;
  }
}

@media (min-width: 1500px) {
  body .container {
      max-width: 1420px;
  }
}



/****************************************
     NEWS SINGLE PAGE CONTENT 
****************************************/
.news__content__page {
  width: 50%;
  margin: auto;

  @media screen and (max-width: 1024px) {
    width: 90%;
  }

  h1 {
    color: var(--text-main);
    text-align: left;
  }

  h2, h3, h4 {
    margin-top: 4rem;
    margin-bottom: 0.5em;
  }

  h3 {
    margin-top: 4rem;
    font-size: 2.2rem;
  }

  h4 {

    margin-top: 4rem;
    font-size: 2.1rem;;
  }

  h5 {
    margin-top: 4rem;
    font-size: 2rem;;
  }

  P {
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: var(--color-secondary);
    }
  }

  em {
    font-style: italic;
    color: #222;
    font-weight: 400;
  }

  strong {
    font-weight: 500;
  }

  blockquote {
    font-size: 1.25em;
    font-style: italic;
    color: #333; /* Adjust color to match your theme */
    text-align: left;
    // margin: 20px auto;
    padding: 10px;
    border-left: 4px solid var(--color-secondary); /* Highlight with a color of your choice */
    max-width: 80%;
    margin-top: 2rem;
  }

  ul,li {
    margin-top: 2rem;
  }

  .styled-list {
    list-style: none; /* Remove default bullets or numbers */
    padding: 0;
    margin: 0;
  }
  
  .styled-list li {
    position: relative;
    padding-left: 25px; /* Space for custom list marker */
    font-size: 1.2rem;
    line-height: 1.2;
    color: #333; /* Adjust text color as needed */
    margin-top: 1rem;
  }
  
  .styled-list li::before {
    content: '\2022'; /* Unicode character for bullet */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-55%);
    color: var(--font-main); /* Color of the bullet */
    font-size: 1.2rem; /* Size of the bullet */
    line-height: 1; /* Center the bullet vertically */
  }
  
  /* Style for ordered lists (using numbers) */
  .styled-list ol {
    list-style: none;
  }
  
  .styled-list ol li {
    counter-increment: list-item;
    position: relative;
    padding-left: 25px; /* Space for custom list marker */
    margin-top: 1rem;
  }
  
  .styled-list ol li::before {
    content: counter(list-item) '. '; /* Use the counter for numbers */
    position: absolute;
    left: 0;
    color: #f8c102; /* Color of the numbers */
    font-size: 1.2rem; /* Size of the numbers */
    line-height: 1; /* Center the numbers vertically */
  }

  img {
    max-width: 100%;
    height: auto;
    width: 100%;;
    object-fit: cover;
    margin-top: 2rem;
  }
  
}

.news__single {
  .news__single  {
    figure {
      width: 100%;
      border-top-right-radius: 7px;
      border-top-left-radius: 7px;
    }
    .news__content  {
      width: 100%;;
      border-bottom-right-radius: 7px;
      border-bottom-left-radius: 7px;
    }
  }
}