@tailwind base;
@tailwind components;
/* .nav-item {
  cursor-pointer 
  py-4 px-0 
  hover:border-b-2
  font-medium;
} */
@tailwind utilities;

/* @font-face {
  font-family: "tittle";
  src: url("/assets/fonts/ananda-neptouch-2.regular.ttf");
} */

:root {
    --color-from-logo: rgb(167, 29, 27);
    --color-primary: #582707;
    --font-main: "Manrope", sans-serif;
    --font-choice: "Manrope", sans-serif;
    --font-tittle: "Manrope", sans-serif;
    --color-secondary: #ffb20f;
    --text-main: rgb(44, 44, 44);
    --text-secondary: rgb(92, 92, 92);
    --text-dim: rgb(196, 196, 196);
    --text-dimmer: rgb(221, 221, 221);
    --text-white: white;
}

* {
    font-family: var(--font-main);
}

body,
html {
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 300;
    color: var(--text-main);
    letter-spacing: 0.025rem;
    line-height: 1.1;
    --s: 150px;
    /* control the size*/
    --c1: #ff0000;
    --c2: #fdf0c8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-choice);
}

.secondary_font {
    font-family: var(--font-main);
}

.bg__class__maroon {
    background: var(--color-from-logo);
    color: var(--text-white) !important;
}

button {
    cursor: pointer;
}

/****************************************
  TYPESCALE FROM https://varnabas.com/
****************************************/
h1 {
    font-size: 2.8rem !important;
    font-weight: 600 !important;
}

h2 {
    font-size: 2.4rem !important;
    font-weight: 600 !important;
}

h3 {
    font-size: 1.42rem !important;
    font-weight: 600 !important;
}

h4 {
    font-size: 1.2rem !important;
    font-weight: 500 !important;
}

h5 {
    font-size: 1rem;
    font-weight: 500 !important;
}

h6 {
    font-size: 1rem;
    font-weight: 500 !important;
}

p {
    font-size: 1rem;
}

b {
    font-weight: 700;
}

.btn_main {
    background: var(--color-from-logo);
    display: inline-block;
    position: relative;
    border-radius: 100px;
    padding: 12px 25px;
    color: var(--text-white);
    font-weight: 600;
    letter-spacing: 0.025rem;
    opacity: 1;
}

.btn_main:hover {
    opacity: 0.8;
}

.section__padding {
    padding-top: 60px;
    padding-bottom: 60px;
}

.separator {
    width: 100%;
    height: 1px;
    background: var(--text-dimmer);
    margin: 30px 0;
}

/****************************************** 
    NAVIBATION BAR
*******************************************/
.main__navigation__bar .nav__logo {
    width: 100%;
}

.main__navigation__bar .hamburger ion-icon {
    color: var(--text-white);
}

.border_for_logo {
    width: calc(100% + 4px);
    height: 68px;
    top: 0;
    left: -2px;
    background-color: transparent;
    border: 2px solid var(--color-secondary);
    transform: translateY(50%);
}

.main_navigation_logo {
    z-index: 1;
    top: 0;
    left: 0;
}

.main_navigation_logo g#XMLID_29_,
.main_navigation_logo g#XMLID_23_ {
    display: none;
}

.search__top__ {
    position: relative;
    transition: 0.3s all;
}

.search__top__.open{
    min-width: 180px;
    background: #eaebee;
    border-radius: 120px;
    display: flex;
    align-items: center;
    padding: 0 5px;
}

@media (max-width:400px) {
    .search__top__.open{
        min-width: 150px;
    }
}

@media (max-width:250px) {
    .search__top__.open{
        min-width: 100px;
    }
}

.search__top__.open input {
    background: transparent;
    color: #000;
    outline: none;
    border: none;
    box-shadow: none;
    padding: 10px 0;
}

.search__top__ ion-icon {
    color: #fff;
}

.search__top__.open ion-icon {
    color: #000;
}

.search__top__:not(.open) input{
    display: none;
}

header.scrolled .hamburger ion-icon {
    color: var(--font-main);
}

header.scrolled .search__top__ input,
header.scrolled .hamburger ion-icon {
    background: var(--text-white);
}

/*************************************
    HERO SECTION HOMEPAGE
*************************************/
.hero__section {
    background-image: url("./assets/img/5.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icons__grp__welcome ul li {
    width: 20%;
}

header {
    transition: background-color 0.3s ease, padding 0.3s ease;
}

header.scrolled {
    background: var(--text-white);
    padding: 0.5rem 0;
    border-bottom: 2px solid var(--color-secondary);
}

header.scrolled .nav_links ul li a {
    color: var(--text-main);
}

header.scrolled .nav_links ul li a:hover {
    color: var(--color-secondary);
}

header.scrolled .Btn__search__top ion-icon {
    color: var(--text-main);
}

.nav_links ul li a {
    font-size: 1.05rem;
    padding: 20px 0;
    color: var(--text-white);
}

header.scroled ul li a:hover,
.nav_links ul li a:hover {
    color: var(--color-secondary);
}

section>p {
    font-weight: 400;
}

/* header.scrolled */
/*****************************************
  BOOKING / RESERVATION SECTION
*****************************************/
.booking__form label ion-icon {
    color: var(--color-secondary);
    font-size: 1.25rem;
}

/*****************************************
  FACILITIES GRID SECTION
*****************************************/
.section__hotel__features .feature__single__layout {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 768px) {
    .section__hotel__features .feature__single__layout {
        flex-direction: column;
    }
}

.section__hotel__features .feature__single__layout:nth-child(even) {
    flex-direction: row-reverse;
}

@media only screen and (max-width: 768px) {
    .section__hotel__features .feature__single__layout:nth-child(even) {
        flex-direction: column;
    }
}

.section__hotel__features .featured__image img {
    width: 100%;
    aspect-ratio: 1/0.6;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
}

.section__hotel__features .feautures__details {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffe4c1;
    background-size: 14px 14px;
    background-image: repeating-linear-gradient(45deg, #efc73f 0, #efc73f 1.4px, #ffe4c1 0, #ffe4c1 50%);
}

@media only screen and (max-width: 768px) {
    .section__hotel__features .feautures__details {
        padding: 30px 0 60px 0;
    }
}

.section__hotel__features .feautures__details .feature__details__wrapper {
    max-width: 80%;
    opacity: 1;
}

.section__hotel__features .feautures__details .feature__details__wrapper p {
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.section__hotel__features .feautures__details .feature__details__wrapper button {
    margin-top: 2rem;
}

@media screen and (max-width: 768px) {
    .section__hotel__features .feautures__details .feature__details__wrapper button {
        margin-top: 2rem;
    }
}

/*************************************
  SWIPER JS FOR HOMEPAGE ROOMS SECTION
**************************************/
.swiper {
    width: 100%;
    height: 300px;
}

.swiper-container {
    width: 100%;
    height: 450px;
}

.swiper__relative .swiper-wrapper {
    /* position: static; */
}

.section__rooms__home .swiper-button-prev,
.section__rooms__home .swiper-button-next {
    top: 60%;
    font-size: 1.25rem;
}

/* Position the buttons */
.custom_buttons_prev,
.custom_button_next {
    position: absolute;
    top: 40%;
    width: 50px;
    height: 50px;
    margin-top: -20px;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgb(230, 230, 230);
    transition: all 0.3s ease;
    /* Semi-transparent background */
}

.custom_buttons_prev:hover,
.custom_button_next:hover {
    border: 1px solid rgb(202, 202, 202);
    transition: all 0.3s ease;
}

.section__rooms__home .swiper-button-prev::after,
.section__rooms__home .swiper-button-next::after {
    font-size: 1.25rem;
    content: "";
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: " ";
}

.section__rooms__home .swiper-button-prev {
    left: 0px;
}

@media only screen and (max-width: 768px) {
    .section__rooms__home .swiper-button-prev {
        left: 5px;
    }
}

.section__rooms__home .swiper-button-prev ion-icon {
    transform: rotate(180deg);
}

.section__rooms__home .swiper-button-prev ion-icon,
.section__rooms__home .swiper-button-next ion-icon {
    color: var(--color-secondary);
    font-size: 1.25rem;
    /* background: rgb(245, 85, 85); */
    border-radius: 1px solid black;
    border-radius: 50%;
    /* padding: 10px; */
}

.section__rooms__home .swiper-button-next {
    right: 0px;
}

@media only screen and (max-width: 768px) {
    .section__rooms__home .swiper-button-next {
        right: 5px;
    }
}

.rooms__slider .room__single p {
    font-weight: 400;
}

/****************************************************
  FOOTER COMMON STYLES
****************************************************/
footer {
    background-color: rgba(255, 179, 15, 0.0823529412);
    padding-top: 60px;
}

.footer__links__block li a:hover {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

footer {
    background-image: url("/assets/img/bud_pattern.svg");
    background-repeat: repeat-x;
    background-size: auto 70px;
}

.footer__brand__information div p {
    margin-left: 1rem;
}

@media only screen and (max-width: 768px) {
    .footer__brand__information>div {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__brand__information>div p {
        margin-left: 0;
    }
}

/****************************************************
  INQUIRY SECTION CONTENT
****************************************************/
.inquiry__section {
    min-height: 40vh;
    background-image: url("/assets/img/panoramic.jpg");
    background-position: center center;
}

.inquiry__section {
    padding-top: 150px;
    padding-bottom: 150px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url("/assets/img/boudha.jpg");
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

/************************************************
  FORM SECTION HOMEPAGE
************************************************/
.form__group__wrapper {
    display: flex;
    flex-direction: row;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .form__group__wrapper {
        flex-direction: column;
    }
}

.booking__form {
    border-bottom: 1px solid var(--text-dimmer);
}

.booking__form form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .booking__form form {
        flex-direction: column;
    }
}

form.homepage__booking {
    width: 100%;
}

form.homepage__booking .form__group__wrapper {
    width: 85%;
}

@media screen and (max-width: 768px) {
    form.homepage__booking .form__group__wrapper {
        width: 100%;
    }
}

form.homepage__booking .form__group__wrapper button {
    width: 25%;
}

@media screen and (max-width: 768px) {
    form.homepage__booking .form__group__wrapper button {
        width: 100%;
    }
}

.input-group.caln {
    position: relative;
}

.input-group.caln::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    right: -10%;
    height: 100%;
    width: 1px;
    background: var(--text-dimmer);
}

@media screen and (max-width: 768px) {
    .input-group.caln::after {
        display: none;
    }
}

.booking__form .input-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    padding: 5px;
    /* width: calc(15% - 15px); */
}

/* .booking__form .input-group.grp__2 {
  width: 30%;
} */

@media screen and (max-width: 768px) {
    .booking__form .input-group.grp__2 {
        width: 26.6666666667%;
    }
}

.booking__form .input-group.grp__2 label {
    max-width: 80%;
}

.booking__form .input-group.grp__2 .booking__form .input-group p {
    color: var(--text-secondary);
}

.booking__form .input-group.caln {
    width: 36.5%;
}

@media screen and (max-width: 768px) {
    .booking__form .input-group.caln {
        width: 50%;
    }
}

.booking__form .input-group ion-icon {
    min-width: 20px;
    font-size: 1.6rem;
}

.booking__form .input-group ion-icon {
    display: inline-block;
}

.booking__form .input-group ion-icon {
    color: var(--color-secondary);
}

.booking__form .input-group label {
    display: flex;
    flex-direction: column;
}

.booking__form .check-in-out,
.booking__form .other {
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking__form input {
    border: none;
    padding: 20px;
    outline: none;
    font-size: 1rem;
    padding: 0;
    color: var(--text-main);
}

.booking__form label {
    /* align-items: center; */
    /* padding: 5px 0; */
    color: var(--text-secondary);
}

.input-group label input {
    display: inline-block;
    position: relative;
}

.homepage__booking .input-group {
    /* Firefox */
}

.homepage__booking .input-group input::-webkit-outer-spin-button,
.homepage__booking .input-group input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.homepage__booking .input-group input[type=number] {
    -moz-appearance: textfield;
}

.homepage__booking .input-group .value-control {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    margin: 0 5px;
    background: transparent;
    border: 1px solid #ccc;
    color: #3b3b3b;
    cursor: pointer;
    font-size: var(--font-size);
    background: var(--text-white);
    border-radius: 3px;
    margin-top: 5px;
}

@media only screen and (max-width: 768px) {
    .homepage__booking .input-group .value-control {
        width: 25px;
        height: 25px;
        margin: 0 4px;
    }
}

.homepage__booking .input-group .value-control:hover {
    background: #eee;
}

.homepage__booking .input-group .value-control:active {
    background: #ddd;
}

.homepage__booking .input-group .value-control:focus,
.homepage__booking .input-group .value-input:focus {
    outline: 2px solid #3e67fd;
    outline-offset: 1px;
}

.homepage__booking .input-group .value-input {
    margin: 0;
    width: 30px;
    border: var(--text-main);
    padding: 2px 8px;
    text-align: center;
}

.homepage__booking .input-group .value-input::-moz-placeholder {
    color: var(--text-dim);
}

.homepage__booking .input-group .value-input::placeholder {
    color: var(--text-dim);
}

.homepage__booking .input-group input::-moz-placeholder {
    color: var(--text-dim);
}

.homepage__booking .input-group input::placeholder {
    color: var(--text-dim);
}

.homepage__booking .input-group .value-input:hover {
    border-color: #777;
}

.homepage__booking .form__group__wrapper .input-group.caln input {
    width: 100%;
    margin-top: 5px;
    padding: 2px;
}

/*************************************************
**************************************************
  ROOMS ANS SUITES CSS
**************************************************
*************************************************/
.room_suits_showcase {
    font-size: 1.2rem;
    font-weight: 400;
}

.room_suits_showcase .rooms_suites_single:not(first-child) {
    margin-top: 5rem;
}

.room_suits_showcase .rooms_suites_single:nth-child(even) {
    flex-direction: row-reverse;
}

.room_suits_showcase .rooms_suites_single:nth-child(even) .suite_single_content::before {
    left: 60%;
}

.room_suits_showcase .rooms_suites_single .suite_single_content {
    background-color: #ffe4c1;
    background-size: 14px 14px;
    background-image: repeating-linear-gradient(45deg, #efc73f 0, #efc73f 1.4px, #ffe4c1 0, #ffe4c1 50%);
}

.room_suits_showcase .rooms_suites_single .suite_single_content::before {
    content: " ";
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 228, 193, 0.7294117647);
    background-size: 14px 14px;
    background-image: repeating-linear-gradient(45deg, rgba(239, 198, 63, 0.6941176471) 0, rgba(239, 198, 63, 0.7333333333) 1.4px, #ffe4c1 0, #ffe4c1 50%);
    top: 0%;
    left: -60%;
}

.room_suits_showcase .rooms_suites_single .suite_single_content .suite_description {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.room_suits_showcase .rooms_suites_single .suite_single_content .suite_features {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.room_suits_showcase .rooms_suites_single .suite_single_content .suite_features li {
    flex: 0 1 calc(30% - 10px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.room_suits_showcase .rooms_suites_single .suite_single_content .suite_features li span {
    font-size: 2.5rem;
    font-weight: 100;
    color: var(--color-from-logo);
}

.room_suits_showcase .rooms_suites_single .suite_single_content .suite_features li p {
    font-size: 0.8rem;
    color: var(--font-main);
}

/***********************************
  HEADER SECTION
************************************/
.rooms__suites__single {
    margin-top: -11rem;
}

.rooms__suites__single .swiper-button-prev,
.rooms__suites__single .swiper-button-next {
    top: 36%;
}

.section__title_number ul {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.section__title_number ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid var(--color-secondary);
    min-width: 90px;
    border-radius: 10px;
}

.section__title_number ul li .count {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
    color: var(--text-main);
}

.section__title_number ul li .title__ {
    font-size: 0.8rem;
    color: var(--text-secondary);
}

.alt__section__count .wrapper {
    background-color: var(--color-from-logo);
}

.alt__section__count ul.title_number_list {
    gap: 0;
}

.alt__section__count ul.title_number_list li.title_number_single {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 45px;
    border: 1px solid var(--text-white);
    margin-right: -40px;
}

.alt__section__count ul.title_number_list li.title_number_single p.count {
    color: white;
    font-size: 4rem;
}

.alt__section__count ul.title_number_list li.title_number_single p.title__ {
    color: white;
}

.alt__section__count__2 .section__title_number .title_number_list .title_number_single {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alt__section__count__2 .section__title_number .title_number_list .title_number_single .count {
    background: var(--text-dimmer);
    padding: 20px 20px;
    border-radius: 20px;
    min-width: 90px;
    text-align: center;
}

.alt__section__count__2 .section__title_number .title_number_list .title_number_single .title__ {
    background: var(--color-secondary);
    color: var(--font-main);
    font-size: 1rem;
    padding: 30px 20px;
    border-radius: 30px;
    font-weight: 600;
    min-width: 160px;
    text-align: center;
    text-transform: uppercase;
    margin-top: -30px;
    position: relative;
    z-index: -1;
}

/***************************************
  rooms__suites__amenities
***************************************/
.amenities__title h2 {
    line-height: 1.2;
}

.amenities__title p {
    color: var(--text-secondary);
}

.amenities__list ul.amenities__ul__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.amenities__list ul.amenities__ul__list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid var(--text-dimmer);
    width: 150px;
    height: 150px;
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
}

.amenities__list ul.amenities__ul__list li ion-icon {
    color: var(--text-dim);
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
}

.amenities__list ul.amenities__ul__list li p {
    color: var(--text-secondary);
    font-size: 0.8rem;
    margin-top: 1.5rem;
}

.amenities__list ul.amenities__ul__list li:hover {
    transform: translateY(-5px);
    box-shadow: rgba(255, 238, 151, 0.2) 0px 8px 24px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: 1px solid var(--color-secondary);
}

.amenities__list ul.amenities__ul__list li:hover ion-icon {
    color: var(--color-secondary);
}

.suites__detail__single {
    width: calc(50% - 150px);
}

.suites__detail__single h2 {
    margin-bottom: 1.5rem;
    line-height: 1.1;
}

.suites__detail__single ul.details__list {
    list-style: disc;
    margin-left: 0.8rem;
    margin-top: 1rem;
}

.suites__detail__single ul.details__list .detail__single {
    padding-top: 0.5rem;
}

.photo_feature_slider .slider {
    height: 250px;
}

.photo_feature_slider .swiper-slide {
    width: 100%;
}

.photo_feature_slider .swiper-slide img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.photo_feature_slider .swiper-button-prev::after,
.photo_feature_slider .swiper-button-next::after {
    content: "";
}

.photo_feature_slider .swiper-button-prev ion-icon,
.photo_feature_slider .swiper-button-next ion-icon {
    font-size: 2.5rem;
    color: var(--text-white);
    opacity: 0.7;
}

.photo_feature_slider .swiper-button-prev ion-icon:hover,
.photo_feature_slider .swiper-button-next ion-icon:hover {
    opacity: 1;
}

/************************************************
  ABOUT PAGE
************************************************/
.image__section__top {
    background-image: url("/assets/img/5.jpg");
    background-repeat: none;
    background-position: center center;
    background-size: cover;
}

.about__content .wrapper {
    gap: 60px;
}

.about__content h2 {
    line-height: 1.1;
    margin-bottom: 1rem;
}

.about__content ul li {
    margin-bottom: 1.5rem;
}

.grp_div .video_container video {
    border-radius: 15px;
}

.brochure__download {
    background-image: url("/assets/img/stupa_bro.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.brochure__download a {
    background: rgba(255, 179, 15, 0.5019607843);
    transition: all 0.2s ease-in-out;
}

.brochure__download a:hover {
    transition: all 0.2s ease-in-out;
    background: #ffb30f;
}

.text__content u {
    font-weight: 500;
}

.about__2 h2,
.about__2 h3,
.about__2 h4,
.about__2 h5 {
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.about__2 p,
.about__2 li {
    font-family: var(--font-main);
    font-size: 1.25rem;
    font-weight: 400;
}

.about__2 .text_content_v2 h2,
.about__2 .text_content_v2 h3,
.about__2 .text_content_v2 h4,
.about__2 .text_content_v2 h5 {
    font-family: var(--font-tittle);
}

/************************************
  CONTACT PAGE
************************************/
.form__section__left {
    padding: 45px;
    background: rgba(255, 179, 15, 0.1254901961);
    border: 1px solid rgba(255, 178, 15, 0.3294117647);
}

.contact__page__form input,
.contact__page__form textarea {
    border: 1px solid var(--text-dim);
    min-height: 30px;
    padding: 10px;
    margin-bottom: 30px;
}

.contact__page__form input:active,
.contact__page__form input:focus,
.contact__page__form input:focus-visible,
.contact__page__form textarea:active,
.contact__page__form textarea:focus,
.contact__page__form textarea:focus-visible {
    border: 1px transparent rgba(0, 0, 0, 0);
    outline: 1px solid var(--color-secondary);
}

.contact__page__form label {
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
}

.contact__page__form textarea {
    min-height: 100px;
}

/***************************************
  ROOM SINGLE
***************************************/
.page__room__single .image__section__top {
    background-image: url("/assets/img/room3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.content__room__booking__form .room_single_booking .form__group__wrapper {
    width: 100%;
}

.content__room__booking__form .room_single_booking .input-group.grp__2 {
    width: 100%;
}

.content__room__booking__form .room_single_booking .input-group ion-icon {
    font-size: 1.6rem;
}

.content__room__booking__form .room_single_booking .input-group p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: var(--font-main);
}

.content__room__booking__form .room_single_booking .input-group.grp__2 {
    align-items: center;
}

.content__room__booking__form .room_single_booking .input-group.grp__2 label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content__room__booking__form .room_single_booking .input-group.grp__2 label p {
    min-width: 90px;
}

.content__room__booking__form .room_single_booking .input-group.grp__2 label div {
    background: white;
    border-radius: 25px;
    padding: 3px;
}

.content__room__booking__form .room_single_booking .input-group input {
    margin-top: 0.2rem;
    width: 100%;
    font-size: 1.4rem;
    background: rgb(255, 255, 255);
    border: 1px solid var(--text-dimmer);
    text-align: center;
    padding: 0.2rem;
}

.content__room__booking__form .room_single_booking .btn_main {
    margin-top: 2.5rem;
    width: 100%;
}

.copy_form .form_header {
    color: var(--font-main);
}

.content__room ul {
    list-style: disc;
    margin-left: 0.9rem;
}

footer {
    font-weight: 400;
}

/**********************************************
  RESPONSIVE 
**********************************************/
.nav_links.mobile__nav__links {
    position: relative;
}

@media screen and (max-width: 768px) {
    .nav_links.mobile__nav__links {
        position: absolute;
    }
}

header.scrolled nav .nav_links.mobile__nav__links {
    background-color: var(--text-white);
}

header.scrolled .nav_links.mobile__nav__links {
    top: 75px;
}

.nav_links.mobile__nav__links {
    background-color: rgba(0, 0, 0, 0.1529411765);
    height: 100vh;
    width: 60%;
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    .nav_links.mobile__nav__links {
        position: absolute;
        z-index: 0;
        top: 80px;
        left: -100%;
        opacity: 0.5;
        transition: all 0.3s ease;
    }
}

.nav_links.mobile__nav__links.active {
    left: 0;
    opacity: 1;
    transition: all 0.3s ease;
}

.nav_links.mobile__nav__links ul {
    flex-direction: column;
    margin-top: 3rem;
}

.nav_links.mobile__nav__links ul li {
    margin-left: 3rem;
    margin-bottom: 1rem;
}

.nav_links.mobile__nav__links ul li a:hover {
    border: none;
}

/****************************************
    ROOMS SINGLE
****************************************/
.room__description {
    font-weight: 400;
}

.room__description h1,
.room__description h2,
.room__description h3,
.room__description h4,
.room__description h5,
.room__description h6 {
    font-weight: 400 !important;
}

.room__description p,
.room__description li,
.room__description small {
    color: var(--text-secondary);
}

.room__description .grp__2 {
    width: 100%;
    margin-top: 30px;
    /* Chrome, Safari, Edge, Opera */
    /* Firefox */
}

.room__description .grp__2 input::-webkit-outer-spin-button,
.room__description .grp__2 input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.room__description .grp__2 input[type=number] {
    -moz-appearance: textfield;
}

.room__description .grp__2 input {
    font-size: 1.4rem;
}

.photo_feature_slider__single__room .room_single_slider img {
    width: 100%;
    aspect-ratio: 16/9;
    -o-object-fit: cover;
    object-fit: cover;
}

.photo_feature_slider__single__room .swiper-button-next ion-icon,
.photo_feature_slider__single__room .swiper-button-prev ion-icon {
    color: var(--text-white);
    font-size: 2rem;
}

.facilities__icons__grp ul {
    list-style: none;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.facilities__icons__grp ul li {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    width: 33%;
}

.facilities__icons__grp ul li span.material-symbols-outlined {
    color: var(--font-main);
    font-size: 30px;
    font-weight: 200;
}

.facilities__icons__grp ul li p {
    margin-left: 0.5rem;
}

.content__room__booking__form .input-group.caln::after {
    display: none;
}

.content__room__booking__form .input-group.caln {
    display: flex;
    align-items: flex-start;
}

.content__room__booking__form ion-icon {
    color: var(--color-secondary);
    margin-right: 5px;
    font-size: 1.2rem;
}

.content__room__booking__form .form__group__wrapper {
    display: flex;
    flex-direction: column;
}

.content__room__booking__form .input-group.grp__2 {
    display: flex;
    align-items: flex-start;
    margin-top: 2rem;
    width: 45%;
}

.content__room__booking__form .input-group.grp__2 input {
    max-width: 150px;
}

.content__room__booking__form .input-group.grp__2 input::-webkit-outer-spin-button,
.content__room__booking__form .input-group.grp__2 input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.content__room__booking__form .input-group.grp__2 .value-control {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background: transparent;
    border-radius: 50%;
    color: #3b3b3b;
    cursor: pointer;
    font-size: var(--font-size);
    background: rgba(59, 59, 59, 0.062745098);
}

@media only screen and (max-width: 768px) {
    .content__room__booking__form .input-group.grp__2 .value-control {
        width: 25px;
        height: 25px;
    }
}

.content__room__booking__form .input-group.grp__2 .value-control:hover {
    background: #eee;
}

.content__room__booking__form .input-group.grp__2 .value-control:active {
    background: #ddd;
}

.content__room__booking__form .input-group.grp__2 .value-control:focus,
.content__room__booking__form .input-group.grp__2 .value-input:focus {
    outline: 2px solid #3e67fd;
    outline-offset: 1px;
}

.content__room__booking__form .input-group.grp__2 .value-input {
    margin: 0;
    width: 40px;
    border: var(--border);
    padding: 2px 8px;
    text-align: center;
}

.content__room__booking__form .input-group.grp__2 .value-input:hover {
    border-color: #777;
}

.rooms_suites_single h2 {
    line-height: 1.1;
}

.top__content h2 {
    line-height: 1.1;
    margin-bottom: 1rem;
}

@media (max-width:500px) {
    .section__title_number ul li {
        min-width: 90px;
    }

    .section__title_number ul li .count {
        font-size: 1.5rem;
    }

    .amenities__list ul.amenities__ul__list {
        gap: 15px;
    }

    .amenities__list ul.amenities__ul__list li {
        --width: calc((100vw - 70px) / 3);
        width: var(--width);
        height: var(--width);
    }
}

@media (max-width:768px) {
    .suites__detail__single {
        width: 100%;
        margin-bottom: 2rem;
    }

    .suites__detail__single ul.details__list {
        padding-left: 10px;
    }

    .room_suits_showcase .rooms_suites_single:nth-child(even) .suite_single_content::before {
        left: 0;
    }
}

.hero__section__suites h1 {
    line-height: 1.1;
}

/*# sourceMappingURL=style.css.map */