@tailwind base;
@tailwind components;
/* .nav-item {
  cursor-pointer 
  py-4 px-0 
  hover:border-b-2
  font-medium;
} */
@tailwind utilities;
:root {
  --color-primary: #582707;
  --font-main: "Roboto", sans-serif;
  --color-secondary: #ffb20f;
  --text-main: rgb(53, 53, 53);
  --text-secondary: rgb(92, 92, 92);
  --text-dim: rgb(196, 196, 196);
  --text-dimmer: rgb(221, 221, 221);
  --text-white: white;
}

* {
  font-family: "Roboto", sans-serif;
}

body,
html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: var(--text-main);
  letter-spacing: 0.025rem;
  line-height: 1.4;
}

/****************************************
  TYPESCALE FROM https://varnabas.com/
****************************************/
h1 {
  font-size: 2.8rem !important;
  font-weight: 600 !important;
}

h2 {
  font-size: 2.4rem !important;
  font-weight: 600 !important;
}

h3 {
  font-size: 1.42rem !important;
  font-weight: 600 !important;
}

h4 {
  font-size: 1.2rem !important;
  font-weight: 500 !important;
}

h5 {
  font-size: 1rem;
  font-weight: 500 !important;
}

h6 {
  font-size: 1rem;
  font-weight: 500 !important;
}

p {
  font-size: 1em;
}

b {
  font-weight: 700;
}

.btn_main {
  background: var(--color-secondary);
  display: inline-block;
  position: relative;
  border-radius: 100px;
  padding: 12px 35px;
  color: white;
  font-weight: 500;
  letter-spacing: 0.025rem;
  /* transition: opacity 0.2s ease; */
  opacity: 1;
}

.btn_main:hover {
  opacity: 0.8;
}

.section__padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

.separator {
  width: 100%;
  height: 1px;
  background: var(--text-dimmer);
  margin: 30px 0;
}

/****************************************** 
    NAVIBATION BAR
*******************************************/
.main__navigation__bar .nav__logo {
  width: 100%;
}

.search__top__ {
  position: relative;
}
.search__top__ input {
  position: absolute;
  bottom: 10px;
  right: 40px;
  width: 300px;
  border-bottom: 1px solid var(--text-white);
  outline: none;
  color: var(--text-white);
  font-size: 1.5rem;
}
.search__top__ input.show {
  display: block;
}
.search__top__ input.hide {
  display: none;
}

header.scrolled .search__top__ input {
  background: var(--color-secondary);
}

/*************************************
    HERO SECTION HOMEPAGE
*************************************/
.hero__section {
  background-image: url("./assets/img/hero_image.jpg  ");
  background-position: center center;
}

.icons__grp__welcome ul li {
  width: 20%;
}

header {
  transition: background-color 0.3s ease, padding 0.3s ease;
}

header.scrolled {
  background: var(--color-secondary);
  padding: 0.5rem 0;
}

.nav_links ul li a {
  font-size: 1.2rem;
  padding: 20px 0;
}

.nav_links ul li a:hover {
  border-bottom: 3px solid white;
}

section > p {
  font-weight: 400;
}

/* header.scrolled */
/*****************************************
  BOOKING / RESERVATION SECTION
*****************************************/
.booking__form label ion-icon {
  color: var(--color-secondary);
  font-size: 20px;
}

/*************************************
  SWIPER JS FOR HOMEPAGE ROOMS SECTION
**************************************/
.swiper {
  width: 100%;
  height: 300px;
}

.swiper-container {
  width: 100%;
  height: 450px;
}

.swiper__relative .swiper-wrapper {
  /* position: static; */
}

.section__rooms__home .swiper-button-prev,
.section__rooms__home .swiper-button-next {
  top: 60%;
  font-size: 20px;
}

/* Position the buttons */
.custom_buttons_prev,
.custom_button_next {
  position: absolute;
  top: 40%;
  width: 50px;
  height: 50px;
  margin-top: -20px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgb(230, 230, 230);
  transition: all 0.3s ease;
  /* Semi-transparent background */
}

.custom_buttons_prev:hover,
.custom_button_next:hover {
  border: 1px solid rgb(202, 202, 202);
  transition: all 0.3s ease;
}

.section__rooms__home .swiper-button-prev::after,
.section__rooms__home .swiper-button-next::after {
  font-size: 20px;
  content: "";
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: " ";
}

.section__rooms__home .swiper-button-prev {
  left: -70px;
}

.section__rooms__home .swiper-button-prev ion-icon {
  transform: rotate(180deg);
}

.section__rooms__home .swiper-button-prev ion-icon,
.section__rooms__home .swiper-button-next ion-icon {
  color: rgba(255, 179, 15, 0.9882352941);
  font-size: 20px;
  /* background: rgb(245, 85, 85); */
  border-radius: 1px solid black;
  border-radius: 50%;
  /* padding: 10px; */
}

.section__rooms__home .swiper-button-next {
  right: -70px;
}

.rooms__slider .room__single p {
  font-weight: 400;
}

/****************************************************
  FOOTER COMMON STYLES
****************************************************/
footer {
  background-color: rgba(255, 179, 15, 0.0823529412);
  padding-top: 60px;
}

.footer__links__block li a:hover {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

/****************************************************
  INQUIRY SECTION CONTENT
****************************************************/
.inquiry__section {
  min-height: 40vh;
  background-image: url("/assets/img/panoramic.jpg");
  background-position: center center;
}

.inquiry__section {
  padding-top: 150px;
  padding-bottom: 150px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url("/assets/img/panoramic.jpg");
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

/************************************************
  FORM SECTION HOMEPAGE
************************************************/
.form__group__wrapper {
  display: flex;
  flex-direction: row;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .form__group__wrapper {
    flex-direction: column;
  }
}

.booking__form {
  border-bottom: 1px solid var(--text-dimmer);
}

.booking__form form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .booking__form form {
    flex-direction: column;
  }
}

form.homepage__booking {
  width: 100%;
}

form.homepage__booking .form__group__wrapper {
  width: 75%;
}
@media screen and (max-width: 768px) {
  form.homepage__booking .form__group__wrapper {
    width: 100%;
  }
}

form.homepage__booking .form__group__wrapper button {
  width: 25%;
}
@media screen and (max-width: 768px) {
  form.homepage__booking .form__group__wrapper button {
    width: 100%;
  }
}

.input-group.caln {
  position: relative;
}

.input-group.caln::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 20%;
  height: 100%;
  width: 1px;
  background: var(--text-dimmer);
}
@media screen and (max-width: 768px) {
  .input-group.caln::after {
    display: none;
  }
}

.booking__form .input-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  padding: 5px;
  /* width: calc(15% - 15px); */
}

.booking__form .input-group.grp__2 {
  width: 15%;
}
@media screen and (max-width: 768px) {
  .booking__form .input-group.grp__2 {
    width: 26.6666666667%;
  }
}

.booking__form .input-group.grp__2 label {
  max-width: 80%;
}

.booking__form .input-group.grp__2 .booking__form .input-group p {
  color: var(--text-secondary);
}

.booking__form .input-group.caln {
  width: 32.5%;
}
@media screen and (max-width: 768px) {
  .booking__form .input-group.caln {
    width: 45%;
  }
}

.booking__form .input-group ion-icon {
  min-width: 20px;
  font-size: 1.6rem;
}

.booking__form .input-group ion-icon {
  display: inline-block;
}

.booking__form .input-group ion-icon {
  color: var(--color-secondary);
}

.booking__form .input-group label {
  display: flex;
  flex-direction: column;
}

.booking__form .check-in-out,
.booking__form .other {
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking__form input {
  /* width: 100
   */
  /* box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.08); */
  /* border-radius: 5px; */
  border: none;
  padding: 20px;
  outline: none;
  font-size: 21px;
  padding: 0;
  color: var(--text-main);
}

.booking__form label {
  /* align-items: center; */
  /* padding: 5px 0; */
  color: var(--text-secondary);
}

.input-group label input {
  display: inline-block;
  position: relative;
}

/*************************************************
**************************************************
  ROOMS ANS SUITES CSS
**************************************************
*************************************************/
/***********************************
  HEADER SECTION
************************************/
.rooms__suites__single {
  margin-top: -11rem;
}

.rooms__suites__single .swiper-button-prev,
.rooms__suites__single .swiper-button-next {
  top: 36%;
}

.section__title_number ul {
  display: flex;
  gap: 15px;
}
.section__title_number ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid var(--color-secondary);
  min-width: 90px;
  border-radius: 10px;
}
.section__title_number ul li .count {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: var(--text-main);
}
.section__title_number ul li .title__ {
  font-size: 0.8rem;
  color: var(--text-secondary);
}

/***************************************
  rooms__suites__amenities
***************************************/
.amenities__title h2 {
  line-height: 1.2;
}
.amenities__title p {
  color: var(--text-secondary);
}

.amenities__list ul.amenities__ul__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.amenities__list ul.amenities__ul__list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid var(--text-dimmer);
  width: 150px;
  height: 150px;
  border-radius: 7px;
  transition: all 0.3s ease-in-out;
}
.amenities__list ul.amenities__ul__list li ion-icon {
  color: var(--text-dim);
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
}
.amenities__list ul.amenities__ul__list li p {
  color: var(--text-secondary);
  font-size: 0.8rem;
  margin-top: 1.5rem;
}
.amenities__list ul.amenities__ul__list li:hover {
  transform: translateY(-5px);
  box-shadow: rgba(255, 238, 151, 0.2) 0px 8px 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 1px solid var(--color-secondary);
}
.amenities__list ul.amenities__ul__list li:hover ion-icon {
  color: var(--color-secondary);
}

.suites__detail__single {
  width: calc(50% - 150px);
}
.suites__detail__single h2 {
  margin-bottom: 0.5rem;
}
.suites__detail__single ul.details__list {
  list-style: disc;
  margin-left: 0.8rem;
  margin-top: 1rem;
}
.suites__detail__single ul.details__list .detail__single {
  padding-top: 0.5rem;
}

.photo_feature_slider .slider {
  height: 250px;
}
.photo_feature_slider .swiper-slide {
  width: 100%;
}
.photo_feature_slider .swiper-slide img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.photo_feature_slider .swiper-button-prev::after,
.photo_feature_slider .swiper-button-next::after {
  content: "";
}
.photo_feature_slider .swiper-button-prev ion-icon,
.photo_feature_slider .swiper-button-next ion-icon {
  font-size: 2.5rem;
  color: var(--text-white);
  opacity: 0.7;
}
.photo_feature_slider .swiper-button-prev ion-icon:hover,
.photo_feature_slider .swiper-button-next ion-icon:hover {
  opacity: 1;
}

/************************************************
  ABOUT PAGE
************************************************/
.image__section__top {
  background-image: url("/assets/img/panoramic.jpg");
}

.about__content .wrapper {
  gap: 60px;
}
.about__content ul li {
  margin-bottom: 1.5rem;
}

.brochure__download {
  background-image: url("/assets/img/stupa_bro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.brochure__download a {
  background: rgba(255, 179, 15, 0.5019607843);
  transition: all 0.2s ease-in-out;
}
.brochure__download a:hover {
  transition: all 0.2s ease-in-out;
  background: #ffb30f;
}

.text__content u {
  font-weight: 500;
}

/************************************
  CONTACT PAGE
************************************/
.form__section__left {
  padding: 45px;
  background: rgba(255, 179, 15, 0.1254901961);
  border: 1px solid rgba(255, 178, 15, 0.3294117647);
}

.contact__page__form input, .contact__page__form textarea {
  border: 1px solid var(--text-dim);
  min-height: 30px;
  padding: 10px;
  margin-bottom: 30px;
}
.contact__page__form input:active, .contact__page__form input:focus, .contact__page__form input:focus-visible, .contact__page__form textarea:active, .contact__page__form textarea:focus, .contact__page__form textarea:focus-visible {
  border: 1px transparent rgba(0, 0, 0, 0);
  outline: 1px solid var(--color-secondary);
}
.contact__page__form label {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}
.contact__page__form textarea {
  min-height: 100px;
}

/***************************************
  ROOM SINGLE
***************************************/
.page__room__single .image__section__top {
  background-image: url("/assets/img/room3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.content__room ul {
  list-style: disc;
  margin-left: 0.9rem;
}

footer {
  font-weight: 400;
}

/**********************************************
  RESPONSIVE 
**********************************************/
.nav_links.mobile__nav__links {
  position: relative;
}

@media screen and (max-width: 768px) {
  .nav_links.mobile__nav__links {
    position: absolute;
  }
}
header.scrolled nav .nav_links.mobile__nav__links {
  background-color: var(--color-secondary);
}

header.scrolled .nav_links.mobile__nav__links {
  top: 70px;
}

.nav_links.mobile__nav__links {
  background-color: rgba(0, 0, 0, 0.1529411765);
  height: 100vh;
  width: 50%;
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .nav_links.mobile__nav__links {
    position: absolute;
    z-index: 0;
    top: 80px;
    left: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;
  }
}
.nav_links.mobile__nav__links.active {
  left: 0;
  opacity: 1;
  transition: all 0.3s ease;
}
.nav_links.mobile__nav__links ul {
  flex-direction: column;
  margin-top: 3rem;
}
.nav_links.mobile__nav__links ul li {
  margin-left: 2.5rem;
  margin-bottom: 1rem;
}
.nav_links.mobile__nav__links ul li a:hover {
  border: none;
}

/****************************************
    ROOMS SINGLE
****************************************/
.room__description h1, .room__description h2, .room__description h3, .room__description h4, .room__description h5, .room__description h6 {
  font-weight: 400 !important;
}

.photo_feature_slider__single__room .room_single_slider img {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
.photo_feature_slider__single__room .swiper-button-next ion-icon,
.photo_feature_slider__single__room .swiper-button-prev ion-icon {
  color: var(--text-white);
  font-size: 2rem;
}

.content__room__booking__form .input-group.caln::after {
  display: none;
}
.content__room__booking__form .input-group.caln {
  display: flex;
  align-items: flex-start;
}
.content__room__booking__form ion-icon {
  color: var(--color-secondary);
  margin-top: 3px;
  margin-right: 5px;
  font-size: 1.2rem;
}
.content__room__booking__form .form__group__wrapper {
  display: flex;
  flex-direction: column;
}
.content__room__booking__form .input-group.grp__2 {
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;
  width: 45%;
}
.content__room__booking__form .input-group.grp__2 input {
  max-width: 150px;
}
.content__room__booking__form .input-group.grp__2 input::-webkit-outer-spin-button, .content__room__booking__form .input-group.grp__2 input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.content__room__booking__form .input-group.grp__2 .value-control {
  width: 30px;
  height: 30px;
  margin: 0 8px;
  background: transparent;
  border: var(--border);
  border-radius: var(--border-radius);
  color: #3b3b3b;
  cursor: pointer;
  font-size: var(--font-size);
  background: rgba(59, 59, 59, 0.062745098);
}
.content__room__booking__form .input-group.grp__2 .value-control:hover {
  background: #eee;
}
.content__room__booking__form .input-group.grp__2 .value-control:active {
  background: #ddd;
}
.content__room__booking__form .input-group.grp__2 .value-control:focus,
.content__room__booking__form .input-group.grp__2 .value-input:focus {
  outline: 2px solid #3e67fd;
  outline-offset: 1px;
}
.content__room__booking__form .input-group.grp__2 .value-input {
  margin: 0;
  height: var(--control-size);
  width: 80px;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 2px 8px;
  text-align: center;
  font-size: var(--font-size);
}
.content__room__booking__form .input-group.grp__2 .value-input:hover {
  border-color: #777;
}/*# sourceMappingURL=style.css.map */